USE [PharmacyDB]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Barcode] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQty] [int] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[SupplierId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleItems]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[HashedPassword] [varbinary](64) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (sysdatetime()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([Id])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[usp_Medicine_Create]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Medicine_Create]
    @Name NVARCHAR(120),
    @Barcode NVARCHAR(50),
    @Price DECIMAL(10,2),
    @StockQty INT,
    @ExpiryDate DATE,
    @SupplierId INT
AS
BEGIN
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Medicines WHERE Barcode = @Barcode)
            THROW 50011, 'Medicine barcode already exists.', 1;

        IF NOT EXISTS (SELECT 1 FROM Suppliers WHERE Id = @SupplierId)
            THROW 50012, 'Supplier not found.', 1;

        INSERT INTO Medicines(Name, Barcode, Price, StockQty, ExpiryDate, SupplierId)
        VALUES (@Name, @Barcode, @Price, @StockQty, @ExpiryDate, @SupplierId);
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Medicine_Delete]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Medicine_Delete]
    @Id INT
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Medicines WHERE Id = @Id)
            THROW 50016, 'Medicine not found.', 1;

        IF EXISTS (SELECT 1 FROM SaleItems WHERE MedicineId = @Id)
            THROW 50017, 'Medicine is used in sales and cannot be deleted.', 1;

        DELETE FROM Medicines
        WHERE Id = @Id;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Medicine_GetAll]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[usp_Medicine_GetAll]
AS
BEGIN
    SELECT Id, Name, Barcode, Price, StockQty, ExpiryDate, SupplierId
    FROM Medicines
    ORDER BY Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Medicine_GetById]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Medicine_GetById]
    @Id INT
AS
BEGIN
    SELECT Id, Name, Barcode, Price, StockQty, ExpiryDate, SupplierId
    FROM Medicines
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Medicine_Update]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Medicine_Update]
    @Id INT,
    @Name NVARCHAR(120),
    @Barcode NVARCHAR(50),
    @Price DECIMAL(10,2),
    @StockQty INT,
    @ExpiryDate DATE,
    @SupplierId INT
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Medicines WHERE Id = @Id)
            THROW 50013, 'Medicine not found.', 1;

        IF EXISTS (SELECT 1 FROM Medicines WHERE Barcode = @Barcode AND Id <> @Id)
            THROW 50014, 'Medicine barcode already exists.', 1;

        IF NOT EXISTS (SELECT 1 FROM Suppliers WHERE Id = @SupplierId)
            THROW 50015, 'Supplier not found.', 1;

        UPDATE Medicines
        SET Name = @Name,
            Barcode = @Barcode,
            Price = @Price,
            StockQty = @StockQty,
            ExpiryDate = @ExpiryDate,
            SupplierId = @SupplierId
        WHERE Id = @Id;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Sale_Create]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Sale_Create]
    @UserId INT
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Users WHERE Id = @UserId AND IsActive = 1)
            THROW 50031, 'User not found.', 1;

        INSERT INTO Sales(UserId, TotalAmount)
        VALUES (@UserId, 0);

        SELECT SCOPE_IDENTITY() AS SaleId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Sale_GetAll]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   6.3 usp_Sale_GetAll
========================= */
CREATE PROC [dbo].[usp_Sale_GetAll]
AS
BEGIN
    SELECT Id, SaleDate, UserId, TotalAmount
    FROM Sales
    ORDER BY Id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SaleItem_Add]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_SaleItem_Add]
    @SaleId INT,
    @MedicineId INT,
    @Qty INT
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Sales WHERE Id = @SaleId)
            THROW 50032, 'Sale not found.', 1;

        IF NOT EXISTS (SELECT 1 FROM Medicines WHERE Id = @MedicineId)
            THROW 50033, 'Medicine not found.', 1;

        IF @Qty <= 0
            THROW 50034, 'Quantity must be greater than 0.', 1;

        DECLARE @Stock INT;
        DECLARE @UnitPrice DECIMAL(10,2);

        SELECT @Stock = StockQty, @UnitPrice = Price
        FROM Medicines
        WHERE Id = @MedicineId;

        IF @Stock < @Qty
            THROW 50035, 'Not enough stock.', 1;

        BEGIN TRAN;

        INSERT INTO SaleItems(SaleId, MedicineId, Qty, UnitPrice)
        VALUES (@SaleId, @MedicineId, @Qty, @UnitPrice);

        UPDATE Medicines
        SET StockQty = StockQty - @Qty
        WHERE Id = @MedicineId;

        UPDATE Sales
        SET TotalAmount =
            (SELECT ISNULL(SUM(Qty * UnitPrice), 0)
             FROM SaleItems
             WHERE SaleId = @SaleId)
        WHERE Id = @SaleId;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Supplier_Create]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Supplier_Create]
    @Name NVARCHAR(100),
    @Phone NVARCHAR(30),
    @Address NVARCHAR(200)
AS
BEGIN
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Suppliers WHERE Name = @Name)
            THROW 50001, 'Supplier already exists.', 1;

        INSERT INTO Suppliers(Name, Phone, Address)
        VALUES (@Name, @Phone, @Address);
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Supplier_Delete]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Supplier_Delete]
    @Id INT
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Suppliers WHERE Id = @Id)
            THROW 50004, 'Supplier not found.', 1;

        IF EXISTS (SELECT 1 FROM Medicines WHERE SupplierId = @Id)
            THROW 50005, 'Supplier has medicines and cannot be deleted.', 1;

        DELETE FROM Suppliers
        WHERE Id = @Id;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Supplier_GetAll]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Supplier_GetAll]
AS
BEGIN
    SELECT Id, Name, Phone, Address
    FROM Suppliers
    ORDER BY Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Supplier_GetById]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Supplier_GetById]
    @Id INT
AS
BEGIN
    SELECT Id, Name, Phone, Address
    FROM Suppliers
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Supplier_Update]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Supplier_Update]
    @Id INT,
    @Name NVARCHAR(100),
    @Phone NVARCHAR(30),
    @Address NVARCHAR(200)
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Suppliers WHERE Id = @Id)
            THROW 50002, 'Supplier not found.', 1;

        IF EXISTS (SELECT 1 FROM Suppliers WHERE Name = @Name AND Id <> @Id)
            THROW 50003, 'Supplier name already exists.', 1;

        UPDATE Suppliers
        SET Name = @Name,
            Phone = @Phone,
            Address = @Address
        WHERE Id = @Id;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_User_Create]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_User_Create]
    @Username NVARCHAR(50),
    @Password NVARCHAR(200),
    @RoleId INT
AS
BEGIN
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
            THROW 50021, 'Username already exists.', 1;

        IF NOT EXISTS (SELECT 1 FROM Roles WHERE Id = @RoleId)
            THROW 50022, 'Role not found.', 1;

        INSERT INTO Users(Username, HashedPassword, RoleId, IsActive)
        VALUES (@Username, HASHBYTES('SHA2_512', @Password), @RoleId, 1);
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_User_GetAll]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_User_GetAll]
AS
BEGIN
    SELECT Id, Username, RoleId, IsActive
    FROM Users
    ORDER BY Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_User_Login]    Script Date: 2/4/2026 5:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_User_Login]
    @Username NVARCHAR(50),
    @Password NVARCHAR(200)
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Users WHERE Username = @Username AND IsActive = 1)
            THROW 50023, 'Invalid username or password.', 1;

        IF NOT EXISTS (
            SELECT 1
            FROM Users
            WHERE Username = @Username
              AND HashedPassword = HASHBYTES('SHA2_512', @Password)
              AND IsActive = 1
        )
            THROW 50023, 'Invalid username or password.', 1;

        SELECT Id, Username, RoleId
        FROM Users
        WHERE Username = @Username
          AND HashedPassword = HASHBYTES('SHA2_512', @Password)
          AND IsActive = 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
